:root {
  /* page background */
  --placeholder-background-variable: var(--tint);
  --placeholder-bg: url("../media/placeholder-bg.png");

  /* colours */
  --lightgrey: #c6c6c6;
  --grey: #555555;
  --beige:#f8dec3;
  --dark:#282c34;
  --bubblegumpink:#ff7eb9;
  --bubblegumblue:#61dafb;
  --tint:#f8f8f8;
}