:root {
    background-color: var(--tint);
}

.flex-row-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.flex-col-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.space {
    justify-content: space-between;
}

.gap {
    gap: 1em;
}

.box-container {
    gap: 2em;
    padding: 1em;
    border-radius: 10px;
    background-color: ghostwhite;
    border: var(--dark) solid 3px;
}

/* convert flex-row to flex-col under 768px*/
@media (max-width: 768px) {
    .flex-row-container {
        flex-direction: column;
    }
    img, .thumbnail{
        align-self: center;
        max-width: 90%;
    }
}