#howardImage {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
    object-fit: contain; /* some funky scaling without this */
    border-radius: 16px;
}

.thumbnail {
    /* fixme: min 300/90% will extend the size
        of the container for some reason*/
    /*max-width: min(300px, 90%);*/
    max-width: 300px;
    height: auto;
}
